header{
    height:100px;
    max-width: 100%;
    background:  #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:#666666;
  }
  html, body {
 
    
    margin:auto;
}

html {
    /* vertical-align: middle; */
    position: absolute;
    display: table;
    width: 80%;
    margin:0;
    top:10%;
    left:10%;
}

body {
    position: relative; 
    /* vertical-align: middle; */
    display: table-cell;
    vertical-align: middle;
    background:black;
    font-family: 'Arial','Helvetica Neue','Helvetica', 'sans-serif';
    max-width: 100%;
 
}
h2{
    text-align: left;
    background: #ffffff;
    padding:20px 0px 20px 0px;
    margin:0px;
    color:#666666;;
}
#genWrapper{
    background: #d9d9d9;
    text-align: center;
    padding:0px 20px 20px 20px;
}

#passwordWrapper{
    background: #ffffff;
  padding:20px;
}

#passwordArea{
    padding-top: 25px;
    font-size: 24px;
}
textarea{
    display: block;
    text-align: center;
    width:90%;
    height:70px;
   font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-style:dashed;
    border-color: grey;
    margin-left:auto;
    margin-right:auto;
}
hr{
    border-top: 1px solid lightgray;
}
#generate{
    border-radius: 25px;
    background:red;
    color:white;
    margin-right: 40px;
    width:200px;
    height:auto;
    height:40px;
    font-size: 20px;
}

#copyClipboard{
    border-radius: 25px;
    background:grey;
    color: white;
    margin-top:10px;
    width:200px;
    height:auto;
    height:40px;
    font-size: 20px;
    
}

@media only screen and (min-width: 1200px) {
    html{
        width:50%;
    }
}

@media only screen and (max-width: 800px) {
    #copyClipboard{
        
    }
    #generate{
        margin: 0px;
    }

    h2{
        text-align: center;
    }
  }
  @media only screen and (max-width: 400px) {
    html{
        
        left:0;
        width:100%;
        height:562px;
    }
  }

  @media only screen and (max-width: 320px) {  
    html{
    top: 0%;
    height:568px;
    }
  }
